{% extends 'content_template.html' %}

{%block head%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/Work/art.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/Work/art_work.css')}}">
{%endblock%}

{%block title%}
My Street Art
{%endblock%}


{% block header %}

My Cool Street Art

{%endblock%}

{%block history%}

*Why I doooo stickers and yeah yo*

{%endblock%}

{% block list %}
{% for art in art_pieces %}
    <div class={{art.size}}><img  src={{url_for('static', filename=path+'/'+art.src)}} title={{art.name}} alt={{art.name}} ></div>
{% endfor %}
{%endblock%}

