{% extends 'content_template.html' %}

{%block head%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/Work/art.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/Work/art_work.css')}}">
{%endblock%}

{%block title%}
My Street Art
{%endblock%}


{% block header %}

My Cool Street Art

{%endblock%}

{%block history%}

<div class="include-html" id="Stickers"></div>

{%endblock%}

{% block list %}
{% for art in art_pieces %}
<div class={{art.size}}>
    <a href="{{url_for('image_display', name=art.name)}}" target="blank">
        <img class="my-art" src={{url_for('static', filename=path+'/'+art.src)}} title='{{art.name}}' alt='{{art.name}}' >
    </a>
</div>
{% endfor %}
{%endblock%}

