{% extends 'content_template.html' %}



{%block head%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/Work/art.css')}}">
{%endblock%}

{%block title%}
My Art
{%endblock%}


{% block header %}

My "Art"

{%endblock%}

{%block history%}


<div class="include-html" id="Art"></div>


{%endblock%}

{% block list %}
<a href={{url_for('art_category_page', category='drawings')}}>Drawings</a>
<a href={{url_for('art_category_page', category='stickers')}}>Stickers</a>
<a href={{url_for('art_category_page', category='3D')}}>3D</a>
<a href={{url_for('art_category_page', category='animation')}}>Animation</a>
{%endblock%}

