{% extends 'content_template.html' %}



{%block head%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/Work/art.css')}}">
{%endblock%}

{%block title%}
My Art
{%endblock%}


{% block header %}

My "Art"

{%endblock%}

{%block history%}
*why I do art* Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam veritatis aliquam nesciunt harum perferendis minima nulla fuga at voluptates quia! At quaerat hic minus corrupti officiis excepturi pariatur, perspiciatis dolorem?

{%endblock%}

{% block list %}
<a href="/Art/drawings">Drawings</a>
<a href="/Art/stickers">Stickers</a>
<a href="/Art/3D">3D</a>
<a href="/Art/animation">Animation</a>
{%endblock%}

