{% extends 'content_template.html' %}

{%block head%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/Work/games.css')}}">
{%endblock%}

{%block title%}
Games
{%endblock%}

{% block header %}
I am gAmE dEsIgNeR
{%endblock%}

{%block history%}

*why do I do games yo*

{%endblock%}

{% block list %}
<a href={{url_for('games_game', game='student_maker')}}>Student Maker</a>
<a href={{url_for('games_game', game='bahr')}}>Boy And His Robot</a>
<a href={{url_for('games_game', game='mecha_game')}}>Mecha Game</a>
{%endblock%}

