{% extends 'content_template.html' %}

{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/Work/programming.css')}}">
{%endblock%}

{%block title%}
Programming
{%endblock%}

{% block header %}
My Mad Hacking Skillz
{%endblock%}

{%block history%}

*why I do programing* 

{%endblock%}

{% block list %}
<a href="https://github.com/Quattro-Bajeena">My Github</a>
<a href="/Programming/ytd">Youtube Downloader</a>
<a href="/Programming/waifu_vr">Waifu VR App</a>
<a href="/Programming/ai_app">A.I. Machine Learning Yo</a>
{%endblock%}

