{% extends 'content_template.html' %}

{%block head%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/Work/videos.css')}}">
{%endblock%}

{%block title%}
Videos
{%endblock%}

{% block header %}
My feats as European Savant-Guard filmmaker
{%endblock%}

{%block history%}

*why do I movies and stuff*

{%endblock%}

{% block list %}
    {% for video in videos %}
        <a href={{url_for('video_page', video=video.title)}}>
            <img src={{video.thumbnail}} title={{video.title}} alt={{video.title}}>
        </a>
    {% endfor %}
{%endblock%}

