html{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    height: auto;

}

body {
    box-sizing: border-box;
    background-color: #fffae5;
    
    
    padding: 0px;
    margin: 20px 15% 20px 15%;
    


}

.main-container{
    font-size: 1em;
    height: 100%;
    display: grid;
    gap: 10px;
    min-width: 700px;
    grid-template-rows: 100px minmax(1000px, auto) 80px;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "c c c c c c c c s s s s"
    "f f f f f f f f f f f f";
}


@media(max-width: 1800px){
    .main-container{
        font-size: 0.9em;
    }
}
@media(max-width: 1600px){
    .main-container{
        font-size: 0.8em;
    }
}
@media(max-width: 1400px){
    .main-container{
        font-size: 0.7em;
    }
    .main-container{
        grid-template-rows: 100px minmax(700px, auto) 600px 80px;
        grid-template-areas: 
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "s s s s s s s s s s s s"
        "f f f f f f f f f f f f";
    }
    

}

@media(max-height: 1000px) {
    .main-container{
        font-size: 0.7em;
    }

    .main-container{
        grid-template-rows: 80px minmax(700px, auto) 60px;
    }
    
    @media(max-width: 1400px){
        
        .main-container{
            font-size: 0.6em;
            grid-template-rows: 70px minmax(600px, auto) 400px 50px;
        }
    }
}


.main-container > div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdf8e2;
    
}

.main-container >.header{
    font-size: 2em;
    grid-area: h;
    background-color: #f1b500;
    	
    
    
}

.main-container >.content-container{
    grid-area: c;
}

.footer{
    grid-area: f;
    background-color: #5cda82;
}

.main-container > .rssfeed{
    grid-area: s;
    font-size: 0.5em;
    min-width: 250px;
    max-height: 1000px;

    padding: 10px;
    background-color: #4284f3;

    overflow: auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media(max-width: 1400px){
    .main-container > .rssfeed{
        padding-right: 50px;
        padding-left: 50px;
    }
    

}

.rssfeed > .activity{
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;

    padding: 15px;
    display: grid;
    grid-template-areas: 
    "title website"
    "date link"
    "description description"
    "picture picture";
    grid-template-columns: 1fr;
    
}


.activity > .title{
    grid-area: title;
    font-weight: bold;
}

.activity > .website{
    grid-area: website;
    font-size: 0.9em;
    font-weight: lighter;
}

.activity > .date{
    grid-area: date;
    font-size: 0.8em;
    font-weight: lighter;
}

.activity > .description{
    grid-area: description;
    
}
.activity > .link{
    grid-area: link;
    font-size: 0.7em;
    font-weight: lighter;
    
}

.activity > .picture{
    grid-area: picture;
    
    
}

.picture > img{
    width: 50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
