html{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

body {
    box-sizing: border-box;
    background-color: #fffae5;
    min-height: 100%;
    padding: 0px;
    margin: 20px 15% 20px 15%;
}



.main-container{
    font-size: 1em;
    height: 100%;
    display: grid;
    gap: 10px;
    min-width: 300px;
    grid-template-rows: 100px minmax(1000px, auto) 80px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "c c c c c c c c s s s s"
    "f f f f f f f f f f f f";
}


@media(max-width: 1800px){
    .main-container{
        font-size: 0.9em;
    }
}
@media(max-width: 1600px){
    .main-container{
        font-size: 0.8em;
    }
}
@media(max-width: 1400px){
    body{
        margin-left: 80px;
        margin-right: 80px;
    }
    .main-container{
        font-size: 0.7em;
    }
    .main-container{
        grid-template-rows: 100px minmax(700px, auto) 1000px 80px;
        grid-template-areas: 
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "s s s s s s s s s s s s"
        "f f f f f f f f f f f f";
    }  

}

@media(max-width: 1000px){
    body{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media(max-width: 700px){
    .main-container{
        font-size: 0.5em;
        min-width: 500px;
    }
    body{
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media(max-height: 1000px) {
    .main-container{
        font-size: 0.7em;
    }

    .main-container{
        grid-template-rows: 80px minmax(700px, auto) 60px;
    }
    
    @media(max-width: 1400px){
        
        .main-container{
            font-size: 0.6em;
            grid-template-rows: 70px minmax(600px, auto) 400px 50px;
        }
    }
}


.main-container > div{
    color: #fdf8e2;
}

.main-container >.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    grid-area: h;
    background-color: #f1b500;
    	
    
    
}

.main-container >.content-container{
    grid-area: c;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: f;
    background-color: #5cda82;
}

.main-container > .rssfeed{
    grid-area: s;
    font-size: 0.5em;
    min-width: 250px;
    
    
    background-color: #4284f3;
    display: grid;
    grid-template: 80px 50px auto / 1fr;
    
    
}


.rssfeed > .header{
    
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    padding: 15px;
    border-bottom-style: dashed;
    border-bottom-color: #fdf8e2;
    border-bottom-width: 10px;
}

.activities{
    
    
    max-height: 900px;
    
    padding: 10px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 10px;
    
}

@media(max-width: 1400px){
    .rssfeed > .header{
        font-size: 2.5em;
        
    }

    .activities{
        padding-right: 50px;
        padding-left: 50px;
        font-size: 1.5em;
    }
    

}

.activities > .activity{
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;


    padding: 15px;
    display: grid;
    grid-template-areas: 
    "title website"
    "date website"
    "description description"
    "picture picture";
    grid-template-columns: 9fr 1fr;
    
}

.activity > a{
    color: inherit;
    text-decoration: none;
}

.activity > a > .title{
    grid-area: title;
    font-weight: bold;
}

.activity > .website{
    grid-area: website;
    font-size: 0.9em;
    font-weight: lighter;
    text-align: right;
}

.website > a > img{
    
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    
}

.activity > .date{
    grid-area: date;
    font-size: 0.8em;
    font-weight: lighter;
}

.activity > .description{
    grid-area: description;
    
}


.activity > .picture{
    grid-area: picture;
    
    
}

.picture > img{
    width: 50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
