<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main_feed.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main_header.css')}}">
    {% block head%} {%endblock%}
    
    <title>{%block title%}{%endblock%}</title>
</head>

<body><div class="main-container">
    <div class="header">
        <div id="header-title">YO, WELCOME TO MY AWESOME SITE</div>
        
        

    </div>
    <div class="content-container">
        {%block body%}{%endblock%} 
    </div>

    <div class="rssfeed">
        <div class="header">
            My Activities
            <div class="update-btn">
                <button id='update-activities-btn' >Update</button>
            </div>
        </div>
        
        <div class="activities">
            {% for activity in activities[:40] %}
            <div class="activity">
                <a href={{activity.link}} target="remote">
                    <div class="title">{{activity.title}}</div>
                </a>
                <div class="website">
                    <a href={{activity.link}} target="remote">
                        <img src={{url_for('static', filename=icon_path+'/'+activity.account.logo)}} title="{{activity.website}}" alt='{{activity.website}}' >
                    </a>
                </div>
                <div class="date">{{activity.date.date()}}</div>
                <div class="description">
                    {%if activity.description %}
                        {{activity.description}}
                    {% endif %}
                </div>
                <div class="picture">
                    {%if activity.enclosure %}
                    <img src={{activity.enclosure}}>  
                    {% endif %}
                </div>
            </div>
            {%endfor%}
        </div>

    </div>

    <div class="footer">
        
        <a href="#">My Youtube Downloader</a>
        <a href="#">Contact Info</a>
        
    </div>
</div>


<script type="text/javascript" src="{{url_for('static', filename='js/activities.js')}}"></script>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%block scripts %}{%endblock%}

</body>

</html>